body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.cursor {
  cursor: pointer;
}
.error {
  color: red;
  font-size: 14px;
}

.booked-seat {
  background-color: #1ea83c !important;
  color: black;
  border: 1px solid rgb(115, 115, 115) !important;
}
.temporary-blocked {
  background-color: #fcc42d !important;
  color: black;
  border: 1px solid rgb(115, 115, 115) !important;
}

.selected-seat {
  background-color: aqua;
  color: black;
  border: 1px solid rgb(35, 35, 35);
}
.empty-seat {
  border: 1px solid rgb(157, 157, 157);
}
.empty-seat:hover {
  background-color: aqua;
  color: black;
}
